/** American Captain font */
@font-face {
    font-display: swap;
    font-family: city-brawlers;
    font-style: normal;
    font-weight: bold;
    src: url('~@fonts/CityBrawlersBoldCaps.otf') format('opentype'),
}

/** SF Pro Text */
@font-face {
    font-display: swap;
    font-family: sf-pro-text;
    font-style: normal;
    font-weight: bold;
    src: url('~@fonts/SF-Pro-Text-Bold.otf') format('opentype'),
}

@font-face {
    font-display: swap;
    font-family: sf-pro-text;
    font-style: italic;
    font-weight: bold;
    src: url('~@fonts/SF-Pro-Text-BoldItalic.otf') format('opentype'),
}

@font-face {
    font-display: swap;
    font-family: sf-pro-text;
    font-style: normal;
    font-weight: 300;
    src: url('~@fonts/SF-Pro-Text-Light.otf') format('opentype'),
}

@font-face {
    font-display: swap;
    font-family: sf-pro-text;
    font-style: italic;
    font-weight: 300;
    src: url('~@fonts/SF-Pro-Text-LightItalic.otf') format('opentype'),
}

@font-face {
    font-display: swap;
    font-family: sf-pro-text;
    font-style: normal;
    font-weight: 400;
    src: url('~@fonts/SF-Pro-Text-Regular.otf') format('opentype'),
}

@font-face {
    font-display: swap;
    font-family: sf-pro-text;
    font-style: italic;
    font-weight: 400;
    src: url('~@fonts/SF-Pro-Text-RegularItalic.otf') format('opentype'),
}
