@mixin text_size_72 {
    font-size: 4.5rem;

    @include media-breakpoint-down(lg) {
        font-size: 4rem;
    }

    @include media-breakpoint-down(sm) {
        font-size: 3rem;
    }
}

@mixin text_size_64 {
    font-size: 4rem;

    @include media-breakpoint-down(lg) {
        font-size: 3rem;
    }

    @include media-breakpoint-down(sm) {
        font-size: 2.25rem;
    }
}

@mixin text_size_48 {
    font-size: 3rem;

    @include media-breakpoint-down(lg) {
        font-size: 2.25rem;
    }

    @include media-breakpoint-down(sm) {
        font-size: 1.5rem;
    }
}

@mixin text_size_36 {
    font-size: 2.25rem;

    @include media-breakpoint-down(lg) {
        font-size: 1.5rem;
    }

    @include media-breakpoint-down(sm) {
        font-size: 1.125rem;
    }
}

@mixin text_size_24 {
    font-size: 1.5rem;

    @include media-breakpoint-down(lg) {
        font-size: 1.125rem;
    }

    @include media-breakpoint-down(sm) {
        font-size: 1rem;
    }
}

@mixin text_size_18 {
    font-size: 1.125rem;

    @include media-breakpoint-down(lg) {
        font-size: 1rem;
    }

    @include media-breakpoint-down(sm) {
        font-size: 0.75rem;
    }
}