/* stylelint-disable media-feature-range-notation -- min and max should be allowed */

/** Header container */
#app {
    #header {
        display: flex;
        flex-wrap: wrap;
        position: fixed;
        left: 0;
        right: 0;
        overflow: hidden;
        z-index: 999;

        .brand {
            font-family: $city_brawlers;
            font-weight: bold;
            text-decoration: none;
            color: $white;
            line-height: 1.2969;
            margin: 0.532rem 0 0.532rem 6.25rem;
            opacity: 0;
            transform: translateY(-50px);

            @include text_size_64;

            @include media-breakpoint-down(xl) {
                margin: 0.532rem 0 0.532rem 3.75rem;
            }

            @include media-breakpoint-down(sm) {
                margin: 0.532rem 0 0.532rem 1.25rem;
            }

            .home & {
                margin: 0.532rem auto;

                @include media-breakpoint-down(xl) {
                    margin: 0.532rem 0 0.532rem 3.75rem;
                }

                @include media-breakpoint-down(sm) {
                    margin: 0.532rem 0 0.532rem 2rem;
                }
            }
        }

        .nav-primary {
            margin: 0.532rem 6.25rem 0.532rem 0;

            @include text_size_24;

            @include media-breakpoint-down(xl) {
                margin: 0.532rem 3.75rem;
                width: 100%;
                background-color: $black;
            }

            @include media-breakpoint-down(sm) {
                margin: 0.532rem 1.25rem;
                width: 100%;
                background-color: $black;
            }

            #menu-header {
                @include media-breakpoint-down(xl) {
                    justify-content: center;
                }

                @include media-breakpoint-down(sm) {
                    justify-content: center;
                }
            }

            .menu-item {
                opacity: 0;
                transform: translateY(-50px);

                &:last-child {
                    a {
                        padding-right: 0;

                        @include media-breakpoint-down(xl) {
                            padding-right: var(--bs-nav-link-padding-x);
                        }

                        @include media-breakpoint-down(sm) {
                            padding-right: var(--bs-nav-link-padding-x);
                        }
                    }
                }

                a {
                    font-family: $sf_pro_text;
                    font-weight: 400;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: $white;
                    line-height: normal;
                }
            }

            .home &,
            .single-character & {
                display: none;
            }
        }

        .nav-secondary {
            margin: 0.532rem 6.25rem 0.532rem 0;

            @include text_size_24;

            @include media-breakpoint-down(xl) {
                margin: 0.532rem 3.75rem;
                width: 100%;
                background-color: $black;
            }

            @include media-breakpoint-down(sm) {
                margin: 0.532rem 1.25rem;
                width: 100%;
                background-color: $black;
            }

            .menu-item {
                opacity: 0;
                transform: translateY(-50px);
                
                &:last-child {
                    a {
                        padding-right: 0;

                        @include media-breakpoint-down(sm) {
                            padding-right: var(--bs-nav-link-padding-x);
                        }
                    }
                }

                a {
                    font-family: $sf_pro_text;
                    font-weight: 400;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: $white;
                    line-height: normal;
                }
            }

            .home &,
            .timeline &,
            .characters &,
            .about & {
                display: none;
            }
        }

        .navbar-toggler {
            margin: 1.4375rem 1.25rem auto 0;

            @include media-breakpoint-down(xl) {
                margin: 2.4375rem 3.75rem auto 0;
            }

            @include media-breakpoint-down(sm) {
                margin: 1.4375rem 1.25rem auto 0;
            }

            .navbar-toggler-icon {
                width: 2.5rem;
                height: auto;

                @include media-breakpoint-down(xl) {
                    width: 3.75rem;
                }

                @include media-breakpoint-down(sm) {
                    width: 2.5rem;
                }

                .bar {
                    display: block;
                    height: 2px;
                    width: 100%;
                    background-color: $white;
                    margin-bottom: 0.282rem;

                    @include media-breakpoint-down(xl) {
                        height: 3px;
                        margin-bottom: 0.4375rem;
                    }

                    @include media-breakpoint-down(sm) {
                        height: 2px;
                        margin-bottom: 0.282rem;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            &.collapsed {
                .navbar-toggler-icon {
                    width: 2.5rem;
                    height: auto;

                    @include media-breakpoint-down(xl) {
                        width: 3.75rem;
                    }
    
                    @include media-breakpoint-down(sm) {
                        width: 2.5rem;
                    }
    
                    .bar {
                        display: block;
                        height: 2px;
                        width: 100%;
                        background-color: $white;
                        margin-bottom: 0.282rem;

                        @include media-breakpoint-down(xl) {
                            height: 3px;
                            margin-bottom: 0.4375rem;
                        }

                        @include media-breakpoint-down(sm) {
                            height: 2px;
                            margin-bottom: 0.282rem;
                        }
    
                        &:last-child {
                            margin-bottom: 0;
                        }

                        &.top {
                            transform: rotate(0);
                            transform-origin: 0;
                            transition: transform 0.25s ease-in-out;
                        }

                        &.middle {
                            opacity: 1;
                            transition: transform 0.25s ease-in-out;
                        }

                        &.bottom {
                            transform: rotate(0);
                            transform-origin: 0;
                            transition: transform 0.25s ease-in-out;
                        }
                    }
                }
            }
            
            &:not(.collapsed) {
                .navbar-toggler-icon {
                    .bar {
                        &.top {
                            transform: rotate(20deg);
                            transform-origin: 0;
                            transition: transform 0.25s ease-in-out;
                        }

                        &.middle {
                            opacity: 0;
                            transition: transform 0.25s ease-in-out;
                        }

                        &.bottom {
                            transform: rotate(-20deg);
                            transform-origin: 0;
                            transition: transform 0.25s ease-in-out;
                        }
                    }
                }
            }

            .home & {
                display: none;
            }
        }
    }
}
