/** Header container */
#app {
    #header {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        z-index: 9999;

        .brand {
            @include text_size_64;

            font-family: $city_brawlers;
            font-weight: bold;
            text-decoration: none;
            color: $white;
            line-height: 1.2969;
            margin: 0.532rem 0 0.532rem 6.25rem;

            .home & {
                margin: 0.532rem auto;

                @include media-breakpoint-down(lg) {
                    margin: 0.532rem 0 0.532rem 4rem;
                }

                @include media-breakpoint-down(sm) {
                    margin: 0.532rem 0 0.532rem 2rem; 
                }
            }
        }
    }
}
