/** Header container */
#app {
    #header {
        display: flex;
        flex-wrap: wrap;
        position: fixed;
        left: 0;
        right: 0;
        overflow: hidden;
        z-index: 999;

        .brand {
            @include text_size_64;

            font-family: $city_brawlers;
            font-weight: bold;
            text-decoration: none;
            color: $white;
            line-height: 1.2969;
            margin: 0.532rem 0 0.532rem 6.25rem;
            opacity: 0;
            transform: translateY(-50px);

            .home & {
                margin: 0.532rem auto;

                @include media-breakpoint-down(lg) {
                    margin: 0.532rem 0 0.532rem 4rem;
                }

                @include media-breakpoint-down(sm) {
                    margin: 0.532rem 0 0.532rem 2rem; 
                }
            }
        }

        .nav-primary {
            @include text_size_24;

            margin: 0.532rem 6.25rem 0.532rem 0;

            .menu-item {
                opacity: 0;
                transform: translateY(-50px);

                &:last-child {
                    a {
                        padding-right: 0;
                    }
                }

                a {
                    font-family: $sf_pro_text;
                    font-weight: 400;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: $white;
                    line-height: normal;
                }
            }

            .home &,
            .single-character & {
                display: none;
            }
        }

        .nav-secondary {
            @include text_size_24;

            margin: 0.532rem 6.25rem 0.532rem 0;

            .menu-item {
                opacity: 0;
                transform: translateY(-50px);
                
                &:last-child {
                    a {
                        padding-right: 0;
                    }
                }

                a {
                    font-family: $sf_pro_text;
                    font-weight: 400;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: $white;
                    line-height: normal;
                }
            }

            .home &,
            .timeline &,
            .characters &,
            .about & {
                display: none;
            }
        }
    }
}
