/** HTML, body */
html {
    overflow: hidden;
    font-family: $sf_pro_text;
    user-select: none;
    line-height: normal;

    /** Hide Locomotive scrollbar */
    .c-scrollbar {
        display: none;
    }

    body {
        font-size: 18px;
        font-size: clamp(100%, 1rem + 1vw, 18px);
    }
}

/** App container */
#app {
    // Stuff goes here
}