/** Home page */
.main {
    &#home {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        min-height: 100vh;

        @include media-breakpoint-down(xl) {
            align-items: center;
        }

        @include media-breakpoint-down(sm) {
            align-items: center;
        }

        .logged-in & {
            min-height: calc(100vh - 2rem);

            @include media-breakpoint-down(wpmd) {
                min-height: calc(100vh - 2.875rem);
            }
        }

        #content {
            padding: 0 6.25rem 6.25rem;

            @include media-breakpoint-down(xl) {
                padding: 0 0 6.25rem;
            }

            @include media-breakpoint-down(sm) {
                padding: 0 1.25rem 1.25rem;
            }

            p {
                max-width: 85%;
                font-size: 2.25rem;
                line-height: 1.25;
                opacity: 0;
                transform: translateY(-50px);

                @include media-breakpoint-down(hd) {
                    font-size: 2rem;
                    line-height: 1.125;
                }

                @include media-breakpoint-down(xxl) {
                    font-size: 1.75rem;
                    line-height: 1.125;
                }

                @include media-breakpoint-down(xl) {
                    max-width: none;
                    font-size: 2.25rem;
                    line-height: 1.25;
                }

                @include media-breakpoint-down(sm) {
                    font-size: 1.5rem;
                    line-height: 1;
                }
            }

            h2 {
                font-size: 14rem;
                line-height: 0.7054;
                margin-bottom: 0;

                @include media-breakpoint-down(hd) {
                    font-size: 12rem;
                }

                @include media-breakpoint-down(xxl) {
                    font-size: 10rem;
                }

                @include media-breakpoint-down(xl) {
                    font-size: 9.75rem;
                }

                @include media-breakpoint-down(sm) {
                    font-size: 5.75rem;
                }

                a {
                    text-decoration: none;
                    opacity: 0;
                    transform: translateY(-50px);
                }
            }
        }
    }
}
