/** Timeline page */
.main {
    &#timeline {
        #main-content {
            padding-top: 6.25rem;



            #entry-row {
                position: relative;
                min-height: calc(100vh - 15.625rem);
                min-width: 100%;

                .carousel-scroll-cover {
                    position: absolute;
                    inset: 0;
                    z-index: 5;
                    display: none;

                    &.active {
                        display: block;
                    }
                }

                #timeline-carousel {
                    min-height: calc(100vh - 6.25rem);

                    #top-content {
                        position: relative;

                        @include media-breakpoint-down(xl) {
                            align-items: center;
                        }
        
                        #entry-main {
                            padding-right: calc(8.3333% + 3rem);
                            overflow: hidden;

                            @include media-breakpoint-down(xl) {
                                padding-right: calc(8.3333% + 3rem);
                            }

                            @include media-breakpoint-down(sm) {
                                padding-right: calc(var(--bs-gutter-x) * 0.5);
                            }

                            .entry-item {
                                // Fade transition override
                                &.active {
                                    &.carousel-item-start,
                                    &.carousel-item-end {
                                        transition: opacity 0.5s 0s ease-in-out;
                                    }

                                    .entry {
                                        .entry-title {
                                            opacity: 1;
                                            transform: translateX(0);
                                            transition: all 0.5s 0.25s ease-in-out;
                                        }

                                        .entry-text {
                                            @for $x from 1 through 10 {
                                                > :nth-child(#{$x}) {
                                                    opacity: 1;
                                                    transform: translateX(0);
                                                    transition: all 0.5s 0.125s ease-in-out;
                                                }
                                            }
                                        }

                                        #image {
                                            opacity: 1;
                                            transform: translateX(0);
                                            transition: all 0.5s 0.75s ease-in-out;
                                        }
                                    }
                                }

                                .entry {
                                    min-width: 100%;
            
                                    .entry-title {
                                        font-size: 14rem;
                                        line-height: 0.7054;
                                        opacity: 0;
                                        transform: translateX(-50px);
                                        z-index: 2;
                                        position: relative;
                                        transition: all 0.5s 0.25s ease-in-out;

                                        @include media-breakpoint-down(hd) {
                                            font-size: 10rem;
                                        }
                                                
                                        @include media-breakpoint-down(xl) {
                                            font-size: 12rem;
                                        }
            
                                        @include media-breakpoint-down(sm) {
                                            font-size: 9.3125rem;
                                        }
                                    }
            
                                    .entry-text {
                                        font-size: 1.5rem;
                                        position: relative;

                                        @include media-breakpoint-down(hd) {
                                            font-size: 1.25rem;
                                        }

                                        @include media-breakpoint-down(sm) {
                                            font-size: 1.125rem;
                                            line-height: normal;
                                        }

                                        &::before {
                                            @include media-breakpoint-down(xl) {
                                                content: '';
                                                position: absolute;
                                                inset: 0;
                                                background-color: #17171ad9;
                                                box-shadow: 0 -1rem 1rem 2.5rem #17171ad9;
                                            }

                                            @include media-breakpoint-down(sm) {
                                                content: '';
                                                position: absolute;
                                                inset: 0;
                                                background-color: #17171ad9;
                                                box-shadow: 0 -1rem 1rem 2.5rem #17171ad9;
                                            }
                                        }

                                        p {
                                            text-shadow: $black 0.25rem 0 1rem;
                                        }

                                        @for $x from 1 through 10 {
                                            > :nth-child(#{$x}) {
                                                opacity: 0;
                                                transform: translateX(-50px);
                                                transition: all 0.5s 0.125s ease-in-out;
                                            }
                                        }
                                    }

                                    #image {
                                        opacity: 0;
                                        transform: translateX(50px);
                                        transition: all 0.5s 0.75s ease-in-out;

                                        @include media-breakpoint-down(xl) {
                                            position: absolute;
                                            z-index: -1;
                                            top: 0;
                                            right: 0;
                                            max-width: 50vw;
                                            margin-top: -15%;
                                        }

                                        @include media-breakpoint-down(sm) {
                                            position: absolute;
                                            z-index: -1;
                                            top: 0;
                                            right: 0;
                                            max-width: 50vw;
                                            margin-top: -15%;
                                        }
                                    }
                                }
                            }
                        }
        
                        #game-list {
                            position: absolute;
                            top: 0;
                            right: 0;
                            background-color: $black;
                            z-index: 10;

                            @include media-breakpoint-down(xl) {
                                top: auto;
                            }
        
                            .game {
                                padding-left: 2rem;
                                padding-right: 2rem;
                                z-index: 1;
                                cursor: pointer;
                                transition: .2s ease-in-out all;

                                @include media-breakpoint-down(hd) {
                                    padding-left: 2.5rem;
                                    padding-right: 2.5rem;
                                }

                                @include media-breakpoint-down(xxl) {
                                    padding-left: 1.625rem;
                                    padding-right: 1.625rem;
                                }

                                @include media-breakpoint-down(xl) {
                                    padding-left: 0;
                                    padding-right: 0;
                                }
        
                                &:hover {
                                    padding-left: .5rem;
                                    padding-right: .5rem;
                                    transition: .2s ease-in-out all;

                                    @include media-breakpoint-down(hd) {
                                        padding-left: 1rem;
                                        padding-right: 1rem;
                                    }

                                    @include media-breakpoint-down(xl) {
                                        padding-left: 0;
                                        padding-right: 0;
                                    }
                                }
                            }
                        }
                    }
        
                    #bottom-content {
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 4.6875rem;
                        z-index: 10;

                        @include media-breakpoint-down(sm) {
                            margin: 0 calc(0.5 * var(--bs-gutter-x));
                            bottom: 2rem;
                        }
                        
                        #scroll-bar {
                            padding: 0;
                            margin: 0 auto;
        
                            .scroll-thumb {
                                background-color: $grey;
                                width: 4rem;
                                height: 0;
                                padding: .25rem 0;
                                margin: 0 -0.0313rem;
                                border: none;
                                opacity: 1;
        
                                &.active {
                                    background-color: $white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
