/** Characters pages */
.main {
    /** Characters page */
    &#characters {
        #main-content {
            display: block;
            padding-top: 6.25rem;

            #top-content {
                min-width: 100%;
                
                .title {
                    font-size: 7.875rem;

                    @include media-breakpoint-down(sm) {
                        font-size: 4.5rem;
                    }
                }

                .list-group {
                    @include media-breakpoint-down(sm) {
                        justify-content: space-between;
                    }

                    .button {
                        margin-right: 1rem;

                        button {
                            background-image: url('../../images/svgs/sfc-border.svg');
                            background-size: cover;
                            background-repeat: no-repeat;
                            color: $white;
                            padding: 1rem 4.65rem;
                            text-decoration: none;
                            font-weight: 400;
                            transition: all .125s ease-in-out;

                            @include media-breakpoint-down(sm) {
                                background-image: url('../../images/svgs/sfc-border-m.svg');
                                font-size: 0.75rem;
                                padding: 0.5rem 1.025rem;
                            }
        
                            &:hover {
                                background-image: url('../../images/svgs/sfc-fill.svg');
                                color: $black;
                                text-decoration: none;
                                transition: all .125s ease-in-out;

                                @include media-breakpoint-down(sm) {
                                    background-image: url('../../images/svgs/sfc-fill-m.svg');
                                }
                            }
                        }

                        &:nth-child(1) {
                            button {
                                padding: 1rem 4.65rem;

                                @include media-breakpoint-down(sm) {
                                    padding: 0.5rem 1.25rem;
                                }
                            }
                        }

                        &:nth-child(2) {
                            button {
                                padding: 1rem 4.05rem;

                                @include media-breakpoint-down(sm) {
                                    padding: 0.5rem 1.025rem;
                                }
                            }
                        }

                        &:nth-child(3) {
                            margin-right: 0;

                            button {
                                padding: 1rem 7.125rem;

                                @include media-breakpoint-down(sm) {
                                    padding: 0.5rem 3rem;
                                }
                            }
                        }
                    }
                }
            }

            #bottom-content {
                #character-group {
                    padding: 0 calc(var(--bs-gutter-x) * .5);

                    @include media-breakpoint-down(sm) {
                        padding: 0;
                        margin-top: 2rem;
                    }

                    .chara {
                        min-height: 26rem;
                        position: relative;
                        clip-path: url('../../images/svgs/sfc-chara-border.svg#clip-path');

                        @include media-breakpoint-down(sm) {
                            min-height: 15rem;
                        }

                        a {
                            position: absolute;
                            inset: 0;
                            background: no-repeat 20% top;
                            background-size: cover;

                            svg {
                                filter: grayscale(1);
                                transition: all .2s ease-in-out;

                                &:hover {
                                    filter: grayscale(0);
                                    transition: all .2s ease-in-out;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /** Single character page */
    &#bio {
        #main-content {
            display: block;
            padding-top: 6.25rem;
            position: relative;
            z-index: 1;

            #top-content {
                #details {
                    h1 {
                        font-size: 9.75rem;
                        line-height: 0.7054;
                        margin-bottom: 1rem;

                        @include media-breakpoint-down(xl) {
                            font-size: 7rem;
                        }

                        @include media-breakpoint-down(sm) {
                            font-size: 5.375rem;
                        }
                    }

                    #chara-info {
                        font-size: 1rem;
                        line-height: normal;
                    }

                    #games {
                        .game {
                            @include media-breakpoint-down(sm) {
                                margin-bottom: 0.5rem;
                            }
                            
                            &:first-child {
                                padding-left: calc(var(--bs-gutter-x) * .5) !important;
                            }

                            &:last-child {
                                padding-right: calc(var(--bs-gutter-x) * .5) !important;
                            }
                        }
                    }
                }
            }

            #bottom-content {
                #biography {
                    .title {
                        font-size: 5rem;
                        line-height: normal
                    }

                    .content {
                        font-size: 1rem;
                        line-height: normal;
                    }

                    .fight {
                        .title {
                            font-size: 4rem;
                        }
                    }
                }
            }
        }

        /** Background image */
        #biography-image {
            z-index: 1;

            svg {
                position: relative;
                max-height: 100vh;
                max-width: fit-content;

                @include media-breakpoint-down(sm) {
                    max-height: 35vh;
                }

                #Image_1 {
                    opacity: 1;
                    mix-blend-mode: overlay;
                }
            }
        }

        .single-character & {
            + #canvas {
                display: none;
            }
        }
    }
}
