/* stylelint-disable media-feature-range-notation -- min and max should be allowed */

/** About page */
.main {
    &#about {
        #main-content {
            display: block;
            padding-top: 6.25rem;

            #top-content {
                min-width: 100%;
                
                .title {
                    font-size: 7.875rem;
                    margin-bottom: 0;

                    @include media-breakpoint-down(uhd) {
                        @media (max-height: 1079.98px) {
                            font-size: 6.125rem;
                        }
                        
                        @media (min-height: 1080px) {
                            font-size: 7.875rem;
                        }
                    }

                    @include media-breakpoint-down(hd) {
                        font-size: 6.125rem;
                    }
                }

                #credits-section {
                    font-size: 1.5rem;
                    line-height: normal;

                    @include media-breakpoint-down(uhd) {
                        @media (max-height: 1079.98px) {
                            font-size: 1.25rem;
                        }
                        
                        @media (min-height: 1080px) {
                            font-size: 1.5rem;
                        }
                    }

                    @include media-breakpoint-down(hd) {
                        font-size: 1.25rem;
                    }

                    @include media-breakpoint-down(xl) {
                        font-size: 1.5rem;
                    }

                    @include media-breakpoint-down(sm) {
                        font-size: 1rem;
                    }

                    #mobile-credits {
                        .list-unstyled {
                            @include media-breakpoint-down(sm) {
                                margin-bottom: 1rem;
                            }
                        }
                    }
                }

                #sources-section {
                    font-size: 1.5rem;
                    line-height: normal;

                    @include media-breakpoint-down(uhd) {
                        @media (max-height: 1079.98px) {
                            font-size: 1.25rem;
                        }
                        
                        @media (min-height: 1080px) {
                            font-size: 1.5rem;
                        }
                    }

                    @include media-breakpoint-down(hd) {
                        font-size: 1.25rem;
                    }

                    @include media-breakpoint-down(xl) {
                        font-size: 1.5rem;
                    }

                    @include media-breakpoint-down(sm) {
                        font-size: 1rem;
                    }

                    a {
                        @include media-breakpoint-down(xl) {
                            word-break: break-word;
                            overflow-wrap: break-word;
                        }

                        @include media-breakpoint-down(sm) {
                            word-break: break-word;
                            overflow-wrap: break-word;
                        }
                    }
                }
            }
        }
    }
}
