{
  "extends": [
    "@roots/sage/stylelint-config",
    "@roots/bud-sass/stylelint-config"
  ],
  "rules": {
    "import-notation": null,
    "color-hex-length": null,
    "no-descending-specificity": null,
    "selector-class-pattern": null,
    "selector-id-pattern": null
  }
}